meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
if config.description
  meta(name='description', content = config.description)
if theme.rss
  link(rel='alternative', href=theme.rss, title = config.title, type='application/atom+xml')
if theme.favicon
  link(rel="icon", href = theme.favicon)

meta(name="theme-color", content="#f34b3d")

meta(name="author", content="Stef van den Ham")

meta(property="og:type", content="article")
meta(property="og:image", content="https://mindthecode.com/images/og_image.png")
meta(property="og:site_name", content="Mindthecode")
meta(name="twitter:creator", content="@hyra")
meta(name="twitter:card", content="summary")
meta(name="twitter:image:", content="https://mindthecode.com/images/og_image.png")

if !page.tags
  meta(name="keywords", content="html, javascript, code, hacking, tutorial, tutorials, web, css")

link(rel="author", href="https://plus.google.com/102230925443628784177?rel=author")
link(rel="canonical", href="https://mindthecode.com")

//- link(href="https://fonts.googleapis.com/css?family=Lora:400,700", rel="stylesheet")

meta(name="google-site-verification", content="MI_ypH3qC5ML7lT0FlzNGBZx2bW3ItJZi4ExqCNb6Q8")

//- script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
//- link(href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700', rel='stylesheet', type='text/css')

//- script#mcjs.
  !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/81bc331f4f2d0e26941705aa8/8b692e22e0fd70cc2e98d9561.js");

//- script(type='text/javascript', async, src='//downloads.mailchimp.com/js/signup-forms/popup/embed.js', data-dojo-config='usePlainJson: true, isDebug: false')
//- script(type='text/javascript').
  require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us8.list-manage.com","uuid":"81bc331f4f2d0e26941705aa8","lid":"9085d5fa6a"}) })

//- script.
  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
  heap.load("2508489801");

script.
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window,document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '385497871867419');
  fbq('track', 'PageView');
  
script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
script.
  (adsbygoogle = window.adsbygoogle || []).push({
  google_ad_client: "ca-pub-6085666403371637",
  enable_page_level_ads: true
  });

block head
!= css('css/main')
//- link(rel="stylesheet", href="/css/main.css?__inline=true")