doctype html
html
    head
        include head
    body
        header
            a.logo(href="/")
                img(src="/logo.png", height="30", class="floating")
            nav
                ul
                    li
                        a(href="/") Blog
                    li
                        a(href="/about") About
                    li
                        a(href="/atom.xml") RSS
                    li(style="position: relative; top: 5px;")
                        //- a(href="http://twitter.com/hyra", target="_blank") Follow me
                        a.twitter-follow-button(href='https://twitter.com/hyra?ref_src=twsrc%5Etfw', data-show-count='false') Follow @hyra

        main
            block main
        footer
            a(href="/")
              img(src="/images/mtc_inv_white.png", alt="Mindthecode", class="floating")
            br
            p Made with ❤ and 🍺
            p Follow me on <a target="_blank" href="https://twitter.com/hyra">Twitter</a>, <a target="_blank" href="https://www.facebook.com/mindthecode/">Facebook</a> or <a target="_blank" href="https://github.com/Hyra">Github</a>
            p © Copyright 2011-2017
        script(src="/js/main.js")
        script(async, type="text/javascript", src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=mindthecode", id="_carbonads_js")
        //- script(async, src="//platform-api.sharethis.com/js/sharethis.js#property=58eb6199f888ef001217b112&product=sticky-share-buttons")
        script(type='text/javascript', src='//downloads.mailchimp.com/js/signup-forms/popup/embed.js', data-dojo-config='usePlainJson: true, isDebug: false')
        //- script(type='text/javascript').
          require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us8.list-manage.com","uuid":"81bc331f4f2d0e26941705aa8","lid":"9085d5fa6a"}) })
        script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
        //- script(async, src="//my.hellobar.com/e0d6ea7e93c0172c0a6adecbb11fcb0fa108ac3b.js")
        //- script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-512f2ead5c4c34de')

        script.
            function sbg(){
            var buttons = document.getElementsByClassName('sbg-button')

            for(var i=0;i<buttons.length;i++){
            var button = buttons[i]

            if(button.hasAttribute('data-sbg-isBinded')){continue}
            button.setAttribute('data-sbg-isBinded','true')

            var network = button.getAttribute('data-sbg-network')

            bindButton(network,button)
            }

            function bindButton(network,button){
            var height = button.getAttribute('data-sbg-height')
            ,width = button.getAttribute('data-sbg-width')
            ,top = Math.max(0,(screen.height-height)/2)
            ,left = Math.max(0,(screen.width-width)/2)
            ,specs = 
            'height='+height+',width='+width+',top='+top+',left='+left
            +',status=0,toolbar=0,directories=0,location=0'
            +',menubar=0,resizable=1,scrollbars=1'
            ,windowName = 'sbg-window-'+Math.random()

            switch(network){
            case 'facebook':
            var url = buildUrl('http://www.facebook.com/sharer.php',{
            's':100
            ,'p[url]':button.getAttribute('data-sbg-url')
            ,'p[title]':button.getAttribute('data-sbg-title')
            ,'p[summary]':button.getAttribute('data-sbg-summary')
            ,'p[images][0]':button.getAttribute('data-sbg-image')
            })
            button.onclick=function(){
            window.open(url,windowName,specs);
            }
            break;
            case 'twitter':
            var url = buildUrl('http://twitter.com/intent/tweet',{
            'text':button.getAttribute('data-sbg-text')
            ,'via':button.getAttribute('data-sbg-via')
            ,'hashtags':button.getAttribute('data-sbg-hashtags')
            })
            button.onclick=function(){
            window.open(url,windowName,specs);
            }
            break;
            case 'linkedin':
            var url = buildUrl('http://www.linkedin.com/shareArticle',{
            'mini':'true'
            ,'url':button.getAttribute('data-sbg-url')
            ,'title':button.getAttribute('data-sbg-title')
            ,'source':button.getAttribute('data-sbg-source')
            ,'summary':button.getAttribute('data-sbg-summary')
            })
            button.onclick=function(){
            window.open(url,windowName,specs);
            }
            break;
            case 'google-plus':
            var url = buildUrl(' https://plus.google.com/share',{
            'url':button.getAttribute('data-sbg-url')
            })
            button.onclick=function(){
            window.open(url,windowName,specs);
            }
            break;
            case 'pinterest':
            var url = buildUrl('http://www.pinterest.com/pin/create/button/',{
            'url':button.getAttribute('data-sbg-url')
            ,'media':button.getAttribute('data-sbg-media')
            ,'description':button.getAttribute('data-sbg-description')
            })
            button.onclick=function(){
            window.open(url,windowName,specs);
            }
            break;
            case 'email':
            var url = buildUrl('mailto:',{
            'su':button.getAttribute('data-sbg-subject')
            ,'subject':button.getAttribute('data-sbg-subject')
            ,'body':button.getAttribute('data-sbg-body')
            })
            button.setAttribute('href',url)
            break;

            }
            }

            function buildUrl(url, parameters){
            var qs = "";
            for(var key in parameters) {
            var value = parameters[key];
            if(!value){continue}
            value = value.toString().split('\"').join('"');
            qs += key + "=" + encodeURIComponent(value) + "&";
            }
            if (qs.length > 0){
            qs = qs.substring(0, qs.length-1); //chop off last "&"
            url = url + "?" + qs;
            }
            return url;
            }
            }
            sbg()