extends layout

block head
  link(rel="canonical",href="http://mindthecode.com/#{path}/")
  meta(name="twitter:title",content="#{title}")
  meta(property="og:title",content="#{title}")
  meta(property="og:url",content="http://mindthecode.com/#{path}/")
  if tags
    meta(name="keywords", content="#{tags}")
  if description
    meta(name="description", content="#{description}")
    meta(name="twitter:description",content="#{description}")
    meta(property="og:description",content="#{description}")
  if header
    script.
      $(document).ready(function() {
        $('.teaser').css('background-image', 'url(/images/headers/#{header})');
      });
    
block main
  article
    h1= title
    //- h2= next ? next.path : ''
    .meta-data
      time(pubdate="#{moment(publishDate).format('YYYY-MM-DD')}", datetime="2015-01-04") #{moment(publishDate).format("MMMM Do YYYY")}
      if tags && tags.length > 0
        .tags
          span Tagged:
          ul.tag-list
            each tag in tags
              li
                a(href="/tags/#{tag}.html") #{tag}
                
    div!= contents

    .meta-data(style="border-top: 0")
      if tags && tags.length > 0
        .tags
          span Tagged:
          ul.tag-list
            each tag in tags
              li
                a(href="/tags/#{tag}.html") #{tag}
    
    hr
    
    h3 Share this post
    .addthis_sharing_toolbox
    
    hr
    
    if next
      h3 Previous post
      h3
        a(href='/' + next.path)!= next.title
    if previous
      h3 Next post
      h3
        a(href='/' + previous.path)!= previous.title
      
    hr
    
    //- include includes/social
    //- div #{wordCount} words
    //- div #{readingTime}
