extends layout

block head
  link(rel="canonical",href="http://mindthecode.com/#{path}/")
  meta(name="twitter:title",content="#{title}")
  meta(property="og:title",content="#{title}")
  meta(property="og:url",content="http://mindthecode.com/#{path}/")
  if tags
    meta(name="keywords", content="#{tags}")
  if description
    meta(name="description", content="#{description}")
    meta(name="twitter:description",content="#{description}")
    meta(property="og:description",content="#{description}")
  if header
    script.
      window.onload=function() {
        document.getElementById('teaser').style.backgroundImage = 'url(/images/headers/#{header})';
      };
block main
  header(id="begin")
    if tags && tags.length > 0
    #cats
      ul(class="post-categories")
        each tag in tags
          li
            a(href="/tags/#{tag}.html", rel="category tag") #{tag}
    time(pubdate="#{moment(publishDate).format('YYYY-MM-DD')}", datetime="#{moment(publishDate).format('YYYY-MM-DD')}", id="top_time")
      span #{moment(publishDate).format('MMMM Do YYYY')}
      
  article.post
    #teaser
    h1= title

    div!= contents

  .share
    h3 Share this post
    .addthis_sharing_toolbox

  nav(class="pagination")
    if next
      span(class="prev")
        a(href='/' + next.path)!= next.title
    if previous
      span(class="next")
        a(href='/' + previous.path)!= previous.title
  
  .comments
    #disqus_thread
    script.
      var disqus_config = function () {
      this.page.url = "http://mindthecode.com/#{path}/"; // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = "#{path}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//mindthecode.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
