extends layout
block main
  header(class='intro')
    h1 Posts tagged '#{tag}'
  if pagination.files && pagination.files.length > 0
      each post in pagination.files
        if post
          article(class='blog-entry')
            small #{moment(post.publishDate).format('MMMM Do YYYY')}
            h2
              a(href='/' + post.path)!= post.title
            div!= post.excerpt
  else
    h2= collections.posts.length
    h2 there ain't no posts here, I'm afraid ..
