include _partial/page
extends _partial/main

block main
  //- if page.title == 'about'
  +page(page)
  //- if page.title == 'tags'
  //-   h1 Tags
  //-   -site.tags.each(function(tag){
  //-     a(href="/tags/" + tag.name)
  //-      = tag.name + tag.length
  //-     br
  //-   - })

block head
  title
    = page.title + ' - ' + config.title
  meta(property="og:title", content=page.title)
  meta(property="og:url", content=config.url + config.root + page.path)
  meta(property="og:description", content=page.description)
  meta(name="twitter:title", content=page.title)
  meta(name="twitter:description", content=page.description)
  meta(name="description", content=page.description)
  script.
    !function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/81bc331f4f2d0e26941705aa8/8b692e22e0fd70cc2e98d9561.js")
