include _partial/post
extends _partial/main

block main
  +post(page, 'post')

block head
  title
    = page.title + ' - ' + config.title
  meta(property="og:title", content=page.title)
  meta(property="og:url", content=config.url + config.root + page.path)
  meta(property="og:description", content=page.description)
  meta(name="twitter:title", content=page.title)
  meta(name="twitter:description", content=page.description)
  meta(name="description", content=page.description)
  - tags = []
  - if(page.tags) {
    - page.tags.forEach(function(tag) {
      - tags.push(tag.name)
    - })
  - }
  - tags = tags.splice('').join(', ')
  meta(name="keywords", content=tags)